<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211076056192-hu7spng9nqk33udif42h0adg7au4rtac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211076056192-hu7spng9nqk33udif42h0adg7au4rtac</string>
	<key>API_KEY</key>
	<string>AIzaSyCZyMKvllYA4jQhBEYqinmctQJfZgVDBNA</string>
	<key>GCM_SENDER_ID</key>
	<string>211076056192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CampusEats</string>
	<key>PROJECT_ID</key>
	<string>campuseats-f4f0d</string>
	<key>STORAGE_BUCKET</key>
	<string>campuseats-f4f0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211076056192:ios:5ec92a6d3815887ba25265</string>
</dict>
</plist>